.randomize {
	text-align: center;
}

.randomize-input {
	margin: 10px 0 10px 0;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
}

.randomize-submit {
	text-decoration: none !important;
}

.randomize-back {
	float: left;
}

.randomize-try {
	float: right;
}

.thumb-container {
	display: inline-block;
	width: 19%;
	height: 180px;
	padding: 5px;
	border: 1px solid #000000;
	margin: 5px;
}

.thumb-image {
	height:100%; 
	width:100%; 
	margin:0 auto;
}

.footer {
	margin: 20px 0 0 0;
}